<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="dark">
      <span><b>Home</b></span>
      <ion-icon name="chevron-down" size="small"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <img src="../assets/mm.jpg" style="width:100%;height:50%;">

  <ion-item>
    <ion-label style="font-weight: bold;">Restuarants Nearby</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>Discover unique tastes near you</ion-label>
  </ion-item>

  <ion-item *ngFor="let f of food">
    <!-- (click)="addFood(f) -->
    <!-- <ion-card style="height:300px; width:100%;" (click)="aaddToFoodCart(f)">  -->
      <ion-card style="height:300px; width:100%;" (click)="addCart(f)" routerLink="/tabs/tab3"> 
      <ion-grid>
        <ion-row>
      
          <ion-col>
            <img src={{f.rimage}} style="width:230px;height:230px">
          </ion-col>
          
          <ion-col>
            <ion-card-content>
              <ion-label>{{f.rname}}</ion-label>
              <ion-item-divider></ion-item-divider>
    
              <ion-label>{{f.rtype}}</ion-label>
              <ion-item-divider></ion-item-divider>
    
              <ion-label>
                {{f.rratings}} <ion-icon aria-hidden="true" name="star"></ion-icon> 5 mins. R{{f.rprice}} for one
              </ion-label> 
              
              <ion-item-divider></ion-item-divider>
    
              <ion-label style="color:red">{{f.rdistance}}</ion-label>
    
            </ion-card-content>
          </ion-col> 
    
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-item>
  </ion-content>
